body {
    background: cyan;
    font: normal 15pt Arial;

}

header {
    color: rgb(250, 250, 250);
    text-align: center;

}

section {
    background: rgb(250, 250, 250);
 /*borda*/   border-radius: 10px;
 /* abri espaço*/   padding: 15px;
    width: 500px;
    margin:auto;
/*sombra*/    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);


    


}

div {
    text-align: center;
    padding: 8px
}

footer{
    color: rgb(250, 250, 250);
    text-align: center;
    font-style: italic;

}